* {
    font-family: "Quicksand";
}

svg {
  margin-bottom: 20px;
}

svg:hover {
  position: relative;
  bottom: 2px;
}

img {
  border-radius: 15px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

/* Centered text */
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.under-construction {
  margin-top: 8%;
  text-align: start;
  color: black;
}

.navbar-nav {
  padding-top: 0;
}

#hero-image {
  filter: brightness(0.55);
}

#typing-effect {
  max-width: 800px;
}

img[class^="portraits"] {
  margin: 15px;
  border-radius: 10px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  #typing-effect {
      max-width: 300px;
  }

  .account-btns {
    margin-top: 10px;
  }

  .register-btn  {
    margin-top: 8px;
  }

  img[class^="portraits"] {
    width: 85%;
    height: auto;
  }
}