* {
    font-family: "Quicksand";
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

/* Centered text */
.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero-image {
    filter: brightness(0.55);
  }

  #typing-effect {
    max-width: 800px;
  }

  svg {
    margin-bottom: 20px;
  }

  svg:hover {
    position: relative;
    bottom: 2px;
  }

  @media screen and (max-width: 600px) {
    #typing-effect {
        max-width: 300px;
    }
  }