* {
    font-family: 'Quicksand', sans-serif;
}
/*
nav {
    position: fixed;
    z-index: 10;
    width: 100%;  
    background-color: white;
}

nav a, button {
    display: inline-block;
    width: 5%;
    min-width: fit-content;
    text-decoration: none;
    color: rgb(21, 153, 235);
}

nav i {
    position: relative;
    left: 100px;
}

nav a {
    position: relative;
    left: 170px;
}

nav div{
    float: right;
    position: relative;
    right: 100px;
}

nav button {
    border: 1px solid rgb(21, 153, 235);
    border-radius: 5px;
    position: relative;
    width: 80px;
    padding: 5px 8px;
}

#login-btn {
    background-color: white;
    text-align: center;
    margin-right: 2.5px;
}

#register-btn {
    background-color: rgb(21, 153, 235);
    color: white;
    margin-left: 2.5px;
}

.hero {
    position: relative;
    top: 40px;
}

nav i, #logo {
    padding: 0;
    margin: 0;
    width: 0;
}
*/